<app-navbar></app-navbar>

<body>
    <div class="container mx-auto max-w-7xl items-center justify-between py-10">
        <div class="pb-10">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Módulo de pruebas de trazos</h1>
        </div>

        <div class="py-2">
            <div class="overflow-hidden bg-white shadow-lg sm:rounded-lg border border-slate-100 shadow-gray-500/20">
                <div class="px-4 py-5 sm:px-6 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-600 sm:col-span-2">Variable</dt>
                    <dd class="text-lg font-medium text-gray-600 sm:col-span-4">Indicador</dd>
                    <dd class="text-lg font-medium text-gray-600 sm:col-span-1">Valor</dd>
                    <!-- <h3 class="text-base font-semibold leading-6 text-gray-900">Applicant Information</h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p> -->
                </div>
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500 sm:col-span-2">Variable 1</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-4 sm:mt-0">
                                <input type="range" id="slider" min="0" max="100" value="50" class="jv-input-range">
                            </dd>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-1 sm:mt-0">
                                <h1 class="text-2xl">123</h1>
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500 sm:col-span-2">Variable 2</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-4 sm:mt-0">
                                <input type="range" id="slider" min="0" max="100" value="50"
                                    class="jv-input-range bg-red-700">
                            </dd>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-1 sm:mt-0">
                                <h1 class="text-2xl">123</h1>
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500 sm:col-span-2">Variable 3</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-4 sm:mt-0">
                                <input type="range" id="slider" min="0" max="100" value="50" class="jv-input-range">
                            </dd>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-1 sm:mt-0">
                                <h1 class="text-2xl">123</h1>
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500 sm:col-span-2">Variable 4</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-4 sm:mt-0">
                                <input type="range" class="form-range thumb:bg-green-500 jv-input-range" min="0" max="100">
                            </dd>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-1 sm:mt-0">
                                <h1 class="text-2xl">123</h1>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>

        <div class="py-5">
            <div
                class="overflow-hidden bg-white shadow-lg sm:rounded-lg border border-slate-100 shadow-gray-500/20 pt-5">
                <h3 class="text-2xl font-medium text-gray-800 sm:col-span-2 px-2">Resultados</h3>
                <div class="px-4 py-5 sm:px-6 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-600 sm:col-span-2">Regla: </dt>
                    <dd class="text-lg font-medium text-gray-600 sm:col-span-4">Si variable1 <= 100 && variable2 <=80</dd>
                </div>
                <div class="px-4 py-5 sm:px-6 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-600 sm:col-span-2">Mensaje: </dt>
                    <dd class="text-lg font-medium text-gray-600 sm:col-span-4">"Te recomendamos seguir haciendo
                        ejercicios para mejorar tu pronunciación y vocalización, ya que esto puede ayudarte a mantener
                        una buena comunicación con los demás." </dd>
                </div>
            </div>
        </div>
    </div>

</body>