<app-navbar></app-navbar>

<body>
    <div class="container mx-auto max-w-7xl items-center justify-between py-10">
        <div class="pb-10">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Módulo de pruebas de voz</h1>
        </div>

        <div class="py-2">
            <div class="overflow-hidden bg-white shadow-lg sm:rounded-lg border border-slate-100 shadow-gray-500/20">
                <div class="px-4 py-5 sm:px-6 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-800 sm:col-span-1">Variable</dt>
                    <dd class="text-lg font-medium text-gray-800 sm:col-span-5">Indicador</dd>
                    <dd class="text-lg font-medium text-gray-800 sm:col-span-1">Valor</dd>
                    <!-- <h3 class="text-base font-semibold leading-6 text-gray-900">Applicant Information</h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p> -->
                </div>
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-1 sm:mt-0">
                                <app-tooltip
                                    [description]="'PPE - Medida lineal de variación de frecuencia fundamental'"
                                    [name]="'PPE'"></app-tooltip>
                            </dd>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0">
                                <input [(ngModel)]="ppe" type="range" id="ppe" min="0" max=".8000" step="0.000001" value="0.212100" class="jv-input-range">
                            </dd>
                            <dt class="text-lg font-bold text-gray-500 sm:col-span-1">{{ppe}} </dt>

                        </div> 
                         <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <app-tooltip
                                [description]="'Spread1 - Medida lineal de variación de frecuencia fundamental'"
                                [name]="'Spread1'"></app-tooltip>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0">
                                <input [(ngModel)]="spread1" type="range" id="spread1" min="-10" max="1" step="0.000001" value="-5.544872" class="jv-input-range">
                            </dd>
                            <dt class="text-lg font-bold text-gray-500 sm:col-span-1">{{spread1}}</dt>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <app-tooltip [description]="'MDVP:Fo - Frecuencia fundamental vocal mínima'"
                                [name]="'MDVP:Fo'"></app-tooltip>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0">
                                <input [(ngModel)]="mdvpFo" type="range" id="mdvpFo" min="88" max="261" step="0.001" value="116.329" class="jv-input-range bg-red-700">
                            </dd>
                            <dt class="text-lg font-bold text-gray-500 sm:col-span-1">{{mdvpFo}}</dt>

                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <app-tooltip [description]="'MDVP:Flo - Frecuencia fundamental vocal promedio'"
                                [name]="'MDVP:Flo'"></app-tooltip>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0">
                                <input [(ngModel)]="mdvpFlo" type="range" id="mdvpFlo" min="60" max="250" step="0.001" value="96.649" class="jv-input-range">
                            </dd>
                            <dt class="text-lg font-bold text-gray-500 sm:col-span-1">{{mdvpFlo}}</dt>
                        </div>

                    </dl>
                </div>
            </div>
        </div>

        <!-- <div class="px-4 py-10 sm:grid sm:gap-4 sm:px-6 justify-items-end">
            <a (click)="pronosticar()" class="w-full inline-flex justify-center rounded-lg text-lg font-semibold py-2.5 px-9
                 bg-sky-600 text-white hover:bg-sky-500 -my-2.5 shadow-lg shadow-sky-500/50 ">
                Evaluar variables
            </a>
        </div> -->

        <div class="px-4 py-10 sm:grid sm:gap-4 sm:px-6 justify-items-end">
            <a (click)="pronosticarVoice()" class="w-full inline-flex justify-center rounded-lg text-lg font-semibold py-2.5 px-9
                 bg-sky-600 text-white hover:bg-sky-500 -my-2.5 shadow-lg shadow-sky-500/50 ">
                Evaluar variables
            </a>
        </div>

        <div class="">
            <div class="overflow-hidden bg-white shadow-lg sm:rounded-lg border border-slate-100 shadow-gray-500/20">


                <div class="px-4 py-5 sm:px-6 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-600 sm:col-span-1">Regla: </dt>
                    <dd class="text-lg font-normal text-gray-600 sm:col-span-5">
                        <div *ngFor="let propiedad of regla">
                            {{ propiedad }}
                          </div>    
                    </dd>
                    <!-- <dd class="text-lg font-medium text-gray-600 sm:col-span-4">Si variable1 <= 100 && variable2 <=80</dd> -->
                </div>
                <div class="bg-gray-100  px-4 py-5 sm:px-6 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-600 sm:col-span-1">Título: </dt>
                    <dd class="text-lg font-medium text-gray-600 sm:col-span-4">{{title}} </dd>
                    <dd class=" sm:col-span-1">
                        <span
                            class="inline-block bg-emerald-400 text-emerald-900 text-xs px-4 py-1 rounded-full uppercase font-semibold tracking-wide shadow-lg shadow-emerald-300/50"
                            *ngIf="type == 'Recomendación'">{{type}}</span>
                        <span
                            class="inline-block bg-rose-400 text-rose-900 text-xs px-4 py-1 rounded-full uppercase font-semibold tracking-wide shadow-lg shadow-rose-300/50"
                            *ngIf="type == 'Alerta'">{{type}}</span>
                        <span
                            class="inline-block bg-amber-400 text-amber-900 text-xs px-4 py-1 rounded-full uppercase font-semibold tracking-wide shadow-lg shadow-amber-300/50"
                            *ngIf="type == 'Notificación'">{{type}}</span>
                    </dd>

                </div>
                <div class="bg-gray-100  px-4 py-5 sm:px-6 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-600 sm:col-span-1">Mensaje: </dt>
                    <dd class="text-lg font-medium text-gray-600 sm:col-span-5">{{msg}} </dd>
                </div>
            </div>
        </div>
    </div>

</body>