<app-navbar></app-navbar>

<body>
    <div class="container mx-auto max-w-7xl items-center justify-between py-10">
        <div class="pb-10">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Módulo de pruebas de voz</h1>
        </div>

        <div class="py-2">
            <div class="overflow-hidden bg-white shadow-lg sm:rounded-lg border border-slate-100 shadow-gray-500/20">
                <div class="px-4 py-5 sm:px-6 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-800 sm:col-span-2">Variable</dt>
                    <dd class="text-lg font-medium text-gray-800 sm:col-span-4">Indicador</dd>
                    <dd class="text-lg font-medium text-gray-800 sm:col-span-1">Valor</dd>
                    <!-- <h3 class="text-base font-semibold leading-6 text-gray-900">Applicant Information</h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p> -->
                </div>
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-medium text-gray-500 sm:col-span-1">PPE</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0">
                                <input [(ngModel)]="ppe" type="range" id="ppe" min="50" max="300" step="001" value="0"
                                    class="jv-input-range">
                            </dd>
                            <dt class="text-lg font-bold text-gray-500 sm:col-span-1">0.{{ppe}}</dt>

                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-medium text-gray-500 sm:col-span-1">MDVP:Fo</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0">
                                <input [(ngModel)]="mdvpFo" type="range" id="mdvpFo" min="88" max="261" step="0.001"
                                    value="0" class="jv-input-range bg-red-700">
                            </dd>
                            <dt class="text-lg font-bold text-gray-500 sm:col-span-1">{{mdvpFo}}</dt>

                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-medium text-gray-500 sm:col-span-1">MDVP:Flo</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0">
                                <input [(ngModel)]="mdvpFlo" type="range" id="mdvpFlo" min="0" max="240" step="0.001"
                                    value="0" class="jv-input-range">
                            </dd>
                            <dt class="text-lg font-bold text-gray-500 sm:col-span-1">{{mdvpFlo}}</dt>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                            <dt class="text-lg font-medium text-gray-500 sm:col-span-1">Spread1</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0">
                                <input [(ngModel)]="spread1" type="range" id="spread1" min="-8" max="1" step="0.001"
                                    value="0" class="jv-input-range">
                            </dd>
                            <dt class="text-lg font-bold text-gray-500 sm:col-span-1">{{spread1}}</dt>
                        </div>

                    </dl>
                </div>
            </div>
        </div>

        <div class="px-4 py-10 sm:grid sm:gap-4 sm:px-6 justify-items-end">
            <a (click)="pronosticar()" class="w-full inline-flex justify-center rounded-lg text-lg font-semibold py-2.5 px-9
                 bg-sky-600 text-white hover:bg-sky-500 -my-2.5 shadow-lg shadow-sky-500/50 ">
                Evaluar variables
            </a>
        </div>

        <div class="">
            <div
                class="overflow-hidden bg-white shadow-lg sm:rounded-lg border border-slate-100 shadow-gray-500/20">


                <div class="px-4 py-5 sm:px-6 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-600 sm:col-span-1">Regla: </dt>
                    <dd class="text-lg font-medium text-gray-600 sm:col-span-5">{{regla}}</dd>
                    <!-- <dd class="text-lg font-medium text-gray-600 sm:col-span-4">Si variable1 <= 100 && variable2 <=80</dd> -->
                </div>
                <div class="bg-gray-100  px-4 py-5 sm:px-6 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-600 sm:col-span-1">Título: </dt>
                    <dd class="text-lg font-medium text-gray-600 sm:col-span-5">{{title}} </dd>
                </div>
                <div class="bg-gray-100  px-4 py-5 sm:px-6 sm:grid sm:grid-cols-7 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-600 sm:col-span-1">Mensaje: </dt>
                    <dd class="text-lg font-medium text-gray-600 sm:col-span-5">{{msg}} </dd>
                </div>
            </div>
        </div>
    </div>

</body>